.btnReta{
    -fx-background-position: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../Imagens/reta.png');
}

.btnRetangulo{
    -fx-background-position: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../Imagens/retangulo.png');
}

.btnCirculo{
    -fx-background-position: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../Imagens/circulo.png');
}

.btnCores{

}

.btnCores MenuItem{
    -fx-padding: 5 20;
}