.btnLivre{
    -fx-background-position: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../Imagens/livre.png');
}

.btnReta{
    -fx-background-position: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../Imagens/reta.png');
}

.btnRetangulo{
    -fx-background-position: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../Imagens/retangulo.png');
}

.btnCirculo{
    -fx-background-position: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../Imagens/circulo.png');
}

.btnText{
    -fx-background-position: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../Imagens/text.png');
}

.btnColor1{
}

.btnColor2{
}

.btnAll{
    -fx-background-color: transparent;
}

.btnAll:hover{
    -fx-background-color: #848484;
    -fx-cursor: hand;
}