.btnDrawing{
    -fx-background-position: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../Images/drawing.png');
}

.btnStraight{
    -fx-background-position: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../Images/straight.png');
}

.btnRectangle{
    -fx-background-position: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../Images/rectangle.png');
}

.btnCircle{
    -fx-background-position: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../Images/circle.png');
}

.btnText{
    -fx-background-position: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../Images/text.png');
}

.btnColor{
}

.btnEraser{
    -fx-background-position: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../Images/eraser.png');
}

.btnAll{
    -fx-background-color: transparent;
    -fx-pref-width: 75;
    -fx-pref-height: 50;
}

.btnAll:hover{
    -fx-background-color: #848484;
    -fx-cursor: hand;
}